[workspace]
resolver = "2"
members = [
    "crates/utils",
    "crates/contracts/*",
]

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = false
overflow-checks = false
