[package]
name = "flipper"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[features]
default = []
std = []

[dependencies]
pvm = { workspace = true }
polkavm-derive = { workspace = true }
parity-scale-codec = { workspace = true, features = ["derive"] }
